
body {
    background-color: darkgray;
}

h1 {
    color: antiquewhite;
}

#logo {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo_text a {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 100;
}

#nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

#nav ul li {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 100;
}


#home {
    color: antiquewhite;
    font-size: 35px;
}

#home:hover {
    cursor: pointer;
    color: chartreuse;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

a{
    font-size: 20px;
    color: darkblue;
}

#achtung{
    font-size: 25px;
    color: orangered;
}

#unten {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 15px;
    background: #00AA55;
}

#unten p {
    text-align: center;
    margin-bottom: 0;
}

#social_icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#social_icons a {
    padding: 10px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    margin: 5px;
}

#social_ig {
    background: linear-gradient(to right, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
}



#gallery {
  width: 20em;
  height: 15em;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 40em)  { 
#gallery {
  width: 40em;
  height: 30em;
}
}

@media (max-width: 60em)  { 
#gallery {
  width: 60em;
  height: 45em;
}
}
  
#gallery figure {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

#gallery figcaption {
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: white;
}

#gallery img {
  width: 100%;
  margin: 0;
  padding: 0;  
}
#gallery figure {
  height: 100%;
  animation: slide 18s infinite ease-in-out;
}

#gallery:hover figure {
  animation-play-state: paused;
}
@keyframes slide {
    0%     {top: 0}
    12%  {top: 0}
    16%  {top: -100%}
    28%  {top: -100%}
    32%  {top: -200%}
    44%  {top: -200%}
    48%  {top: -300%}
    60%  {top: -300%}
    65%  {top: -400%}
    78%  {top: -400%}
    83%  {top: -500%}
    95%  {top: -500%}
    100% {top: 0}
}

#download{
    
    color:black;
    font-size: 2px;
    background-color: red

    
}

#download{
	display:inline-block;
	margin:2px;
	text-decoration:none;
	font-family:Arial;
	font-size:35px;
	border:2px solid #5BBB2B;
	border-radius:10px;
	color:#5BBB2B;
	background-color:#C0E9B5;
	padding:3px 7px;
    margin-left: 233px;
    
}
#download:hover{
	color:#fff;
	background-color:#5BBB2B;
    cursor: pointer;
    
}
